tensorflow>=2.8.0; sys_platform == "linux"
tensorflow-macos==2.8.0; sys_platform == "darwin"
tensorflow-metal; sys_platform == "darwin"
tensorflow-model-optimization>=0.7.2
astropy>=1.1.2
colorama>=0.4.4
fink_client
fink_utils
george>=0.3.1
imbalanced-learn==0.7.0
joblib==0.17.0
matplotlib>=3.3.2
numpy>=1.19.2
optuna==2.3.0
pandas>=1.1.4
scikit-learn>=0.23.2
scipy>=1.5.0
seaborn==0.11.0
