astropy>=1.1.2
george>=0.3.0
imageio
imbalanced-learn==0.7.0
joblib
jupyter-client>=5.3.4
jupyter-console>=6.1.0
jupyter-core>=4.6.1
jupyter>=1.0.0
matplotlib>=3.2.1
mkdocs
numpy==1.19.2
optuna
pandas>=1.0
plotly>=4.7.1
pyarrow>=2.0.0
pybind11>=2.6.1
requests
scikit-learn>=0.22
scipy==1.4.1
seaborn>=0.11.0
# tf-nightly==2.5.0-dev20201113
tensorflow==2.4.1
xgboost
